* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 800px;
  margin: 80px auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header {
  padding: 20px;
}

.grid-container {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  margin-bottom: 40px;
  border: 1px solid black;
}

.cell {
  border: 1px solid black;
}

.cell:hover {
  background-color: red;
}
