* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 600px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header Section */
.header {
  padding: 20px;
}

/* Button section */
.button-container {
  padding: 20px;
  display: flex;
  gap: 20px;
}

.btn {
  padding: 2px 5px;
}

/* Grid Section */
.grid-container {
  width: 400px;
  height: 400px;
  margin-bottom: 40px;
  border: 1px solid black;
}

.grid-container-size {
  display: grid;
}

.cell {
  border: 1px solid black;
}

.cell:hover {
  background-color: red;
}

.cell:focus {
  background-color: blue;
}
